<ul class="list-group">
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>UID:</strong> &nbsp;{{ permission.uid }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Name:</strong> &nbsp;{{ permission.name }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Description:</strong> &nbsp;{{ permission.description or 'N/A' }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Permission Code:</strong> &nbsp;{{ permission.permission }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Created At:</strong> &nbsp;{{ permission.display_created_at }}
  </li>
  <li class="list-group-item border-0 ps-0 pt-0 text-sm">
    <strong>Updated At:</strong> &nbsp;{{ permission.display_updated_at }}
  </li>
</ul>
