python-dotenv>=1.0
bcrypt>=4.1
Werkzeug>=3.0
Flask>=3.0
Flask-Login>=0.6
Flask_SQLAlchemy>=3.1
SQLAlchemy>=2.0
Flask-Migrate>=4.0
flask_bcrypt==1.0.1
flask-admin==2.0.2
flask_wtf==1.2.2
pymysql==1.1.2
email_validator==2.3.0
humanize==4.15.0
numerize==0.12
gunicorn==25.1.0
rich==14.3.3
