<section class="d2c_counter_wrapper">
  <div class="container">
    <div class="d2c_border_bg rounded-4">
      <div class="d2c_count_wrapper rounded-4">
        <div class="row">
          <div class="col-6 col-md-3 text-center mb-4 mb-md-0 wow fadeInUp">
            <h1>
              <span class="count">{{ profile.certificates.count() }}</span>+
            </h1>
            <h6>Certificates Earned</h6>
          </div>

          <div class="col-6 col-md-3 text-center wow fadeInUp">
            <h1>
              <span class="count">{{ profile.years_of_experience }}</span>+
            </h1>
            <h6>Years of Experience</h6>
          </div>

          <div class="col-6 col-md-3 text-center wow fadeInUp">
            <h1><span class="count">0</span>+</h1>
            <h6>Projects Completed</h6>
          </div>

          <div class="col-6 col-md-3 text-center wow fadeInUp">
            <h1><span class="count">0</span>+</h1>
            <h6>Technologies & Tools</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
