<section
  class="d2c_education_wrapper"
  id="education"
  data-title="Education · {{ PROJECT_TITLE }}"
>
  <div class="container">
    <div class="row">
      <div
        class="col-md-10 col-lg-8 col-xl-6 offset-md-1 offset-lg-2 offset-xl-3 wow fadeInUp"
      >
        <h2 class="text-center">Education</h2>
        <p class="text-center">
          Details of academic background and relevant learning history. It shows
          the foundation of your knowledge and training.
        </p>
      </div>
    </div>
  </div>
</section>
