<section
  class="d2c_projects_wrapper"
  id="projects"
  data-title="Projects · {{ PROJECT_TITLE }}"
>
  <div class="container">
    <div class="row">
      <div
        class="col-md-10 col-lg-8 col-xl-6 offset-md-1 offset-lg-2 offset-xl-3 wow fadeInUp"
      >
        <h2 class="text-center">projects</h2>
        <p class="text-center">
          This section highlights some of the projects I have developed during
          my learning journey. Each project reflects my practical experience in
          programming, cybersecurity, and web development. These works
          demonstrate my ability to design, build, and solve real-world problems
          using modern technologies and tools.
        </p>
      </div>
    </div>
    <div class="row"></div>
  </div>
</section>
