<section class="d2c_skills_wrapper" id="skills">
  <div class="container">
    <div class="row">
      <div
        class="col-md-10 col-lg-8 col-xl-6 offset-md-1 offset-lg-2 offset-xl-3 wow fadeInUp"
      >
        <h2 class="text-center">Skills</h2>
        <p class="text-center">
          A collection of the technologies, tools, and technical skills I use to
          build projects, solve problems, and continuously improve my expertise.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="row d2c_skills_slider wow fadeInUp"></div>
    </div>
  </div>
</section>
