<section
  class="d2c_skills_wrapper"
  id="skills"
  data-title="Skills · {{ PROJECT_TITLE }}"
>
  <div class="container">
    <div class="row">
      <div
        class="col-md-10 col-lg-8 col-xl-6 offset-md-1 offset-lg-2 offset-xl-3 wow fadeInUp"
      >
        <h2 class="text-center">Skills</h2>
        <p class="text-center">
          A collection of the technologies, tools, and technical skills I use to
          build projects, solve problems, and continuously improve my expertise.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="d2c_skills_slider wow fadeInUp py-4">
        {% for idx, (c, skills) in enumerate(profile.skill_categories.items(),
        0) %}
        <div class="row">
          <div class="row">
            <div class="col-12 mb-2 text-center wow fadeInDown">
              <h2
                class="fs-3 text-start {{ 'text-end' if idx % 2 == 0 else 'text-start' }}"
                id="typewriter"
                data-deleting-speed="20"
                data-writing-speed="40"
                data-delay="2000"
              >
                {{ c.name }}
              </h2>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            {% for skill in skills.all() %}
            <div
              class="col-md-6 col-lg-4 mb-4 wow fadeInUp"
              data-bs-toggle="tooltip"
              title="{{ skill.level }}%"
            >
              <div class="d2c_card text-center rounded-3">
                <div class="d2c_card_child rounded-3">
                  <div class="d2c_card_child_two">
                    <div
                      class="d-flex d2c_card_child_three flex-wrap justify-content-center rounded-3"
                    >
                      <div class="d2c_icon_wrapper">
                        <div class="d2c_skill_icon">
                          <i class="{{ skill.icon }} fs-2"></i>
                        </div>
                      </div>
                      <div class="text-center mx-2">
                        <h6>{{ skill.name }}</h6>
                        <p class="mb-0">{{ skill.description }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</section>
