{% with f = form.u %}
<form
  method="POST"
  action="{{ url_for('api.update_profile') }}"
  data-get="{{ url_for('api.fetch_profile', uid='@') }}"
  enctype="multipart/form-data"
>
  {{ f.hidden_tag() }}

  <div class="row mb-5 mt-4">
    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <div class="avatar position-relative drop-zone">
          <img
            src="{{ DEFAULT_AVATAR_URL }}"
            alt="profile_image"
            class="rounded-pill shadow-sm shadow-xl w-100 cursor-pointer output"
            data-role="image"
          />
          {{ f.avatar(class="form-control d-none") }}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="my-2">
      <div class="input-group input-group-outline">
        {{ f.full_name.label(class="form-label") }} {{
        f.full_name(class="form-control") }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="my-2">
      <div class="input-group input-group-outline">
        {{ f.headline.label(class="form-label") }} {{
        f.headline(class="form-control") }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="my-2">
      <div class="px-2 py-0 my-0">{{ f.bio.label(class="form-label") }}</div>
      <div class="input-group input-group-outline">
        {{ f.bio(class="form-control") }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="my-2">
      <div class="px-2 py-0 my-0">
        {{ f.short_bio.label(class="form-label") }}
      </div>
      <div class="input-group input-group-outline">
        {{ f.short_bio(class="form-control h-100") }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="my-2">
      <div class="input-group input-group-outline">
        {{ f.public_email.label(class="form-label") }} {{
        f.public_email(class="form-control") }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="my-2">
      <div class="input-group input-group-outline">
        {{ f.phone.label(class="form-label") }} {{ f.phone(class="form-control")
        }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="my-2">
      <div class="input-group input-group-outline">
        {{ f.years_of_experience.label(class="form-label") }} {{
        f.years_of_experience(class="form-control") }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="mx-2">{{ f.resume.label(class="form-label") }}</div>
      <div class="card drop-zone position-relative">
        <div
          class="d-grid align-item-center align-content-center justify-content-center w-100 h-100 py-5"
        >
          <div class="text-center">
            <i class="material-symbols-rounded opacity-5 fs-1">upload</i>
          </div>
          <span
            ><strong
              class="open-default-file-input-modal cursor-pointer"
              data-id="{{ f.resume.id }}"
              >Choose a file</strong
            >
            or drag it here</span
          >
        </div>

        <div class="list-section pt-0 pb-2 px-2">
          <hr class="dark horizontal mb-3 mt-0" />
          <div class="list-title fs-5 m-2">Uploaded Resume</div>
          <ul class="list-unstyled d-flex flex-wrap mt-4 mx-2"></ul>
        </div>
        {{ f.resume(class="form-control d-none") }}
      </div>
    </div>
  </div>

  <div class="my-3 mx-3">
    <div class="form-check form-switch d-flex align-items-center is-filled">
      {{ f.is_active(class="form-check-input") }} {{
      f.is_active.label(class="form-check-label mb-0 ms-3") }}
    </div>
  </div>

  <div class="my-3 mx-3">
    <div class="form-check form-switch d-flex align-items-center is-filled">
      {{ f.is_primary(class="form-check-input") }} {{
      f.is_primary.label(class="form-check-label mb-0 ms-3") }}
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-12">
      <div class="text-center">
        {{ f.submit(class="btn bg-gradient-info btn-lg w-100 mt-4 mb-0") }}
      </div>
    </div>
  </div>
</form>
{% endwith %}
