{% extends "main/base.html" %}

{% block content %}
  {% if profile %}

    {% include "main/components/header.html" %}

    <!-- Hero Section Start -->
    {% include "main/components/sections/home.html" %}
    <!-- Hero Section End -->

    <!-- About Section Start -->
    {% include "main/components/sections/about.html" %}
    <!-- About Section End -->

    {% if  profile.certificates.count() %}
      <!-- Certificate Section Start -->
      {% include "main/components/sections/certificates.html" %}
      <!-- Certificate Section End -->
    {% endif %}

    {% if profile.projects.count() %}
      <!-- Project Section Start -->
      {% include "main/components/sections/projects.html" %}
      <!-- Project Section End -->
    {% endif %}

    {% if profile.skills.count() %}
      <!-- Skill Section Start -->
      {% include "main/components/sections/skills.html" %}
      <!-- Skill Section End -->
    {% endif %}

    {% include "main/components/footer.html" %}
  {% endif %}
{% endblock %}
