{% from "main/components/nav_links.html" import nav_links %}

<!-- Footer Section Start -->
<footer class="d2c_footer_wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4 mb-4 mb-md-0 wow fadeInLeft">
        <div class="d2c_footer_card rounded-2">
          <h3>About Me</h3>

          <h5 class="d-flex">
            <span class="me-2">I'm</span>
            <span
              id="typewriter"
              data-deleting-speed="20"
              data-writing-speed="40"
              data-delay="2000"
            >
              {{ profile.user.full_name }}</span
            >
          </h5>
          <p class="mb-0">{{ profile.short_bio }}</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow fadeInUp">
        <div class="d2c_footer_card rounded-2">
          <h3>Useful links</h3>
          <div class="row">
            <div class="col-12 px-0 mx-0"></div>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-4 mt-4 mt-lg-0 wow fadeInRight">
        <div class="d2c_footer_card rounded-2">
          <h3>Get in touch</h3>
          <form
            method="post"
            action="{{ url_for('api.quick_contact') }}"
            class="needs-validation"
            novalidate
          >
            <div class="input-group">
              <div class="form-floating">
                {{ quick_contact_form.email(class="form-control",
                placeholder="") }} {{ quick_contact_form.email.label() }}
              </div>

              <button class="btn h-auto" type="submit" id="newsletter_btn">
                drive in
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->

<div class="d2c_copy_right_wrapper">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-8 col-sm-6 mb-3 mb-md-0">
        <p class="mb-0 text-center text-md-start">
          ©
          <script>
            document.write(new Date().getFullYear());
          </script>
          2025, made with <i class="fa fa-heart red"></i> by
          <span class="fw-bold">{{ DEVELOPER }}</span> for
          <span class="fw-bold">{{ PROJECT_TITLE }}</span>.
        </p>
      </div>
      {% if profile.social_links.count() %}
      <div class="col-12 col-md-4 d-flex justify-content-center">
        <ul class="list-group list-group-horizontal">
          {% for link in profile.social_links.all() %}
          <li>
            <a href="{{ link.url }}" target="_blank"
              ><i class="fab fa-{{ link.icon }} d2c_icon"></i
            ></a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</div>
