<header class="d2c_navbar sticky-top py-2">
  <div class="container">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg px-0" id="d2c_main_nav">
      <!-- HamBurger -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span><i class="fas fa-bars"></i></span>
      </button>
      <!-- HamBurger -->

      <!-- Nav Item -->
      <div class="collapse navbar-collapse js-clone-nav justify-content-center">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="#home"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services">services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#project">Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
      <!-- Nav Item -->
    </nav>
    <!-- Navbar -->

    <!-- Tab And Mobile View -->
    <div
      class="collapse navbar-collapse d2c_mobile_view"
      id="navbarSupportedContent"
    >
      <div class="show_width container">
        <div class="text-right">
          <button
            class="navbar-toggler d2c_cross_btn p-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span><i class="fa fa-times"></i></span>
          </button>
        </div>

        <div class="navbar px-0 d2c_mobile_view_body"></div>
      </div>
    </div>
    <!-- Tab And Mobile View -->
  </div>
</header>
<!-- Header End -->
