<header class="d2c_navbar sticky-top position-fixed w-100">
  <div class="container">
    <nav class="navbar navbar-expand-lg px-0" id="d2c_main_nav">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span><i class="fas fa-bars"></i></span>
      </button>

      <div class="collapse navbar-collapse js-clone-nav justify-content-center">
        <ul class="navbar-nav">
          {% for text, href in nav_links %}
          <li class="nav-item">
            <a class="nav-link" href="{{ href }}">{{ text }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </nav>

    <div
      class="collapse navbar-collapse d2c_mobile_view"
      id="navbarSupportedContent"
    >
      <div class="show_width container">
        <div class="text-right">
          <button
            class="navbar-toggler d2c_cross_btn p-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span><i class="fa fa-times"></i></span>
          </button>
        </div>

        <div class="navbar px-0 d2c_mobile_view_body"></div>
      </div>
    </div>
  </div>
</header>
