<form
  class="row g-3 needs-validation p-4"
  action="{{ url_for('api.contact') }}"
  method="post"
  novalidate
>
  {{ contact_form.hidden_tag() }}

  <div class="col-md-6">
    <div class="form-floating">
      {{ contact_form.first_name(class="form-control", placeholder="") }} {{
      contact_form.first_name.label() }}
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-floating">
      {{ contact_form.last_name(class="form-control", placeholder="") }} {{
      contact_form.last_name.label() }}
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-floating">
      {{ contact_form.email(class="form-control", placeholder="") }} {{
      contact_form.email.label() }}
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-floating">
      {{ contact_form.message (class="form-control", placeholder="",
      style="height: 150px") }} {{ contact_form.message.label() }}
    </div>
  </div>

  <div class="col-12 text-center">
    <button class="btn btn-primary" type="submit">Send Message</button>
  </div>
</form>
