<form
  class="row g-3 needs-validation p-4"
  action="{{ url_for('api.contact') }}"
  method="post"
  novalidate
>
  <div class="col-md-6">
    <div class="form-floating">
      {{ f.first_name(class="form-control", placeholder="") }} {{
      f.first_name.label() }}
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-floating">
      {{ f.last_name(class="form-control", placeholder="") }} {{
      f.last_name.label() }}
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-floating">
      {{ f.email(class="form-control", placeholder="") }} {{ f.email.label() }}
    </div>
  </div>

  <div class="col-md-12">
    <div class="form-floating">
      {{ f.message (class="form-control", placeholder="", style="height: 150px")
      }} {{ f.message.label() }}
    </div>
  </div>

  <div class="col-12 text-center">
    <button class="btn btn-primary" type="submit">Send Message</button>
  </div>
</form>
